<nav class="navbar">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>

    <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
        <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
        <li><a routerLink="/studio" routerLinkActive="active">STUDIO</a></li>
        <li><a routerLink="/listen" routerLinkActive="active">LISTEN</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
    </ul>
</nav>