
/* Estilos para CONTACT */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.contact-section {
    text-align: center;
    padding: 50px 20px;
}

.contact-section h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 20px;
    color: #444;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-weight: 300;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #343541;
}

.btn-submit {
    display: inline-block;
    background-color: #343541;
    color: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #000000; 
}